

body {

    font-family: 'Arial', sans-serif;
   
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start;
    height:  100%;
    gap: 20px; 
    padding: 150px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.find-your-seat, .how-it-works, .featured-flyers {
    border: 1px solid #ddd; 
    padding: 30px; 
    border-radius: 16px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex: 1 1 300px;
    max-width: 100%; 
    text-align: center; 
}

.steps, .testimonials {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.steps div, .testimonials div {
    background: #f3f4f6;
    padding: 20px; 
    border-radius: 16px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
}

.large_icon {
    color: #0284c7;
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}



h1, h2, p {
    margin: 0 0 10px; 
}

h1 {
    font-size: 2.5rem; 
    color: #333; 
}

h2 {
    font-size: 1.75rem; 
    color: #555;
}

p {
    font-size: 1rem; 
    color: #666;
}

.testimonials h2 {
    margin-top: 0; 
}

.testimonials p {
    margin: 5px 0; 
}
