/* .bi-myset #oopss {
    color: #00b6ff4a;
    margin-top: 10px;
  }
  
  #oopss {
    font-size: 122px;
    color: #648e8629;
    font-weight: 700;
    margin-top: -50px;
    margin-bottom: -36px;
    font-family: "Assistant", Helvetica, Arial, sans-serif;
    
  }
  
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  #message {
    font-size: 38px;
    font-weight: 400;
    color: #7b7979;
    margin-top: -50px;
}

.block-msg {
    color: #3b4141;
    
}

#white{
    color: white;
}
   */
