.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #50a2ff;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.site-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.mainNavigation {
  display: flex;
  gap: 20px;
}

.mainNavigation .nav-link {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
}

.mainNavigation .nav-link:hover {
  color: #070706;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .mainNavigation {
    margin-top: 20px;
  }
}
